.errorM {
    top: 50%;
    left: 25%;
    color: rgb(255, 255, 255);
    text-align: center;
    height: fit-content;
    min-width: fit-content;
    min-height: fit-content;
    max-width: 50%;

}

.error{
    color: black;
    font-family: "Russo one";
    font-size: 50px;
    margin: 0;

}

.fa-exclamation-triangle {
    color: rgb(255, 242, 58);
}


html {
    scroll-behavior: smooth;
}

body {
    padding-top: .5rem;
}

.navbar-brand {
    font-size: 20px;
    font-weight: bold;
}

.nav-link{
    font-size-adjust: initial;
}

.jumbotron {
    background-image: url(../img/wallhaven-4xxe34\ __whvn.cc_4xxe34.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;
    max-width: 100%;
    max-height: fit-content;
    min-width: fit-content;
    min-height: fit-content;
    height: 100vh;
    background-size: cover;
}

.features-icons .row .col-sm-12 p{
    margin: 3px;
}

.subheading {
    font-size: xx-large;
}

/* social media buttons */
.fa-ul a:hover {
    text-decoration: none;
}