html {
    scroll-behavior: smooth;
}

body {
    padding-top: .5rem;
}

.navbar-brand {
    font-size: 20px;
    font-weight: bold;
}

.nav-link{
    font-size-adjust: initial;
}

.jumbotron {
    background-image: url(../img/wallhaven-nzoywo\ __whvn.cc_nzoywo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;
    max-width: 100%;
    max-height: fit-content;
    min-width: fit-content;
    min-height: fit-content;
    height: 100vh;
    background-size: cover;
}

.quote{
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0);
    padding-left: 50px;
    padding: 15vh 5vw;
    padding-bottom: 27%;
    height: fit-content;
    min-width: fit-content;
    min-height: fit-content;

    -webkit-filter: 
        drop-shadow(1px 0px 1px rgb(0, 0, 0))
        drop-shadow(-1px 0px 1px rgb(0, 0, 0))
        drop-shadow(0px -1px 1px rgb(0, 0, 0))
        drop-shadow(0px -1px 1px rgb(0, 0, 0));

    filter: 
        drop-shadow(1px 0px 1px rgb(0, 0, 0))
        drop-shadow(-1px 0px 1px rgb(0, 0, 0))
        drop-shadow(0px 1px 1px rgb(0, 0, 0))
        drop-shadow(0px -1px 1px rgb(0, 0, 0));
    
}

#offer .row {
    margin: 1rem;
}

#offer .row .col-sm-12 p {
    margin-right: 2rem;
}

.features-icons .row .col-sm-12 p{
    margin: 3px;
}

.featurette-divider {
    background-color: black;
    width: 75%;
}

.subheading {
    font-size: xx-large;
}

/* social media buttons */
.fa-ul a:hover {
    text-decoration: none;
    
}

.fa-indeed  {
    width: 70px;
    padding-right: 5px;
}

.fa-linkedin {
    color: #007bb5;
    padding-right: 5px;
}

.fa-instagram {
    color: #0d3d5f;
    padding-right: 5px;
}

.fa-twitter {
    color: #55ACEE;
    padding-right: 5px;
}

.fa-github {
    color: #222222;
    padding-right: 5px;
}

.fa-google {
    color: #dd4b39;
}